@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
  
.App{
    height: auto;
    min-height: 100vh;
    background-image: url("photos/Young.jpg");
    /* background-image: url("photos/Justme.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
}
.menuItems a.active{
    background-color: rgb(42, 151, 165);
    color: white;
    border-radius: 10px;
    padding: 8px;
}
.about{
    margin-top: -90px;
}
.mybio{
    color: aqua;
}
@media (max-width: 768px) {
    .mybio{
        margin-top: -40px;
    }
    .welcome{
        margin-left: 20px;
    }
    .menuItems{
        flex-direction: column;
        color: white;
        line-height: 1.9;
        z-index: 20;
    }
    .projects{
        display: block;
    }
    .projects div{
        width: 97%;
        margin-top: 20px;
    }
    .Bio{
    width: 94%;
    margin-left: 20px;
    }
    .sociallize{
        margin-left: 20px;
    }
    .greetings{
        font-size: 1.2rem;
    }
    .myImage{
        margin-left: 100px;
    }
}
@media (max-width: 360px) {
    .myImage{
        margin-left: 10px;
        margin-top: -50px;
    }
}
